

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>KEMENTRIAN LUAR NEGERI REPUBLIK INDONESIA</title>
<link href="../config/adminstyle2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../config/calendarDateInput.js"></script>
<script type="text/javascript" src="../config/comboDinamis.js"></script>
<script type="text/javascript" src="../config/rollover.js"></script>

</head>

<body onload="MM_preloadImages('../images/icon/Icon - Personal BLOCK.gif','../images/icon/Icon - Permit BLOCK.gif','../images/icon/Icon - ID Card BLOCK.gif','../images/icon/Icon - Rantor Individu BLOCK.gif','../images/icon/Icon - Rantor kantor BLOCK.gif','../images/icon/Icon - Fasilitas BLOCK.gif')">

<table  width="980" align="center" cellpadding="0" cellspacing="0" id="frameutama"    >
  <tr>
    <td colspan="2"><img src="../images/header2.png" alt="head" width="980" height="80" /></td>
  </tr>
  <tr>
    <td width="180"  bgcolor="#265180" style="vertical-align: top" >
		<DIV id="navsite">
		 <P>Menu Utama:</P>
		 <UL><LI><A href="./deplu.php?module=home">:: Home</A></LI>	
		  <LI><A href="./deplu.php?module=gantipassword">:: Ganti Password</A></LI>
		  <LI><A href="./logout.php">:: Logout</A></LI>		  
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Personal</LI>
		  <LI><A href="./deplu.php?module=diplomat">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diplomat</A></LI>
		  <LI><A href="./deplu.php?module=sibling">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Family</A></LI>
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Permit</LI>
		  <LI><A href="./deplu.php?module=staypermit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Permit</A></LI>
		  <LI><A href="./deplu.php?module=staypermitD">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Approval Direktur</A></LI>
		  <LI><A href="./deplu.php?module=staypermitK">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Approval Kasubdit</A></LI>

		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: ID Card</LI>
		  <LI><A href="./deplu.php?module=idcard">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID Card</A></LI>
		  
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Rantor Individu</LI>
		  <LI><A href="./deplu.php?module=rantorIimpor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Import</A></LI>
  		  <LI><A href="./deplu.php?module=rantorIbeli">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beli</A></LI>
		  <LI><A href="./deplu.php?module=rantorIjual">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jual</A></LI>

		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Rantor Kantor</LI>
		  <LI><A href="./deplu.php?module=rantorKimpor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Import</A></LI>
  		  <LI><A href="./deplu.php?module=rantorKbeli">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beli</A></LI>
		  <LI><A href="./deplu.php?module=rantorKjual">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jual</A></LI>

		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Fasilitas</LI>
		  <LI><A href="./deplu.php?module=rantor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rantor</A></LI>
  		  <LI><A href="./deplu.php?module=fasilitas">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fasilitas Lainnya</A></LI>
		  <LI><A href="./deplu.php?module=resiprositas">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Resiprositas</A></LI>
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Reminder</LI>
		  <LI><A href="./deplu.php?module=remindpermit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Permit</A></LI>
  		  <LI><A href="./deplu.php?module=remindidcard">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID Card</A></LI>
  		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Laporan</LI>
		  <LI><A href="./deplu.php?module=laptikpermit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TIK Permit</A></LI>
  		  <LI><A href="./deplu.php?module=laptikidcard">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TIK ID Card</A></LI>
  		  <LI><A href="./deplu.php?module=laprantorwakil">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rantor Perwakilan</A></LI>
  		  <LI><A href="./deplu.php?module=laprantorindividu">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rantor Individu</A></LI>
  		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Blank Form</LI>
		  <LI><A href="./report.php?go=logizin" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Permit Log</A></LI>
  		  <LI><A href="report.php?go=izindiam" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stay Permit</A></LI>
  		  <LI><A href="report.php?go=logoutin" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In Out Permit</A></LI>
  		  <LI><A href="./report.php?go=application" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Application ID Card</A></LI>
  		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Master</LI>
		  <LI><A href="./deplu.php?module=paspor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paspor</A></LI>
		  <LI><A href="./deplu.php?module=visa">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visa</A></LI>
		  <LI><A href="./deplu.php?module=relasi">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Relasi</A></LI>
		  <LI><A href="./deplu.php?module=negara">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Negara</A></LI>
		  <LI><A href="./deplu.php?module=jnsperwakilan">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jenis Perwakilan</A></LI>
		  <LI><A href="./deplu.php?module=subperwakilan">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Jenis Perwakilan</A></LI>
  		  <LI><A href="./deplu.php?module=kantor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kantor Perwakilan</A></LI>
		  <LI><A href="./deplu.php?module=jnsfasilitas">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jenis Fasilitas</A></LI>
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Admin</LI>
		  <LI><A href="./deplu.php?module=grupuser">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grup User</A></LI>
		  <LI><A href="./deplu.php?module=user">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User</A></LI>


		  </UL>
		</div>
		
	</td>
   
	
	 <td width="799" style="vertical-align: top" >
	<DIV id="content">
	
	{isi}
	</div>
	</td>
	</tr>
  <tr>
    <td colspan="2">		<div  align="center" id="footer">
						Copyright &copy; 2013 by Pusat Komunikasi Kementerian Luar NegeriL</div>
</div>	</td>
  </tr>
</table>

</body>
</html>

<?php
}
?>
