
<html>
<head>
<title>KEMENTRIAN LUAR NEGERI REPUBLIK INDONESIA</title>
<link href="../config/adminstyle.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="header">
  <div id="content">
  </div>


<DIV id="navsite">
 <P>Menu Utama:</P>
 <UL>
  <LI><A href="/">Serambi</A></LI>
  <LI><A href="/">Visi dan Misi</A></LI> 
  <LI><A href="/">Sejarah</A></LI>
  <LI><A href="/">Produk</A></LI>
  <LI><A href="/">Klien</A></LI>
  <LI><A href="/">Tentang Kami kelana </A></LI>

 </UL>
</div>
		<div  align="center" id="footer">
				Copyright &copy; 2010 by KaeL</div>
</div>
</body>

</html>
