<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>KEMENTRIAN LUAR NEGERI REPUBLIK INDONESIA</title>
<link href="../config/adminstyle2.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="780"  align="center" cellpadding="0" cellspacing="0" id="frameutama"    >
  <tr>
    <td colspan="2"><img src="../images/header.png" alt="head" width="780" height="90" /></td>
  </tr>
  <tr>
    <td width="180"  bgcolor="#265180"  >
		<DIV id="navsite">
		 <P>Menu Utama:</P>
		 <UL>
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Personal</LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diplomat</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sibling</A></LI>
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: ID Card</LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID Card</A></LI>
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Fasilitas</LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Penggunaan Fasilitas</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kendaraan Bermotor</A></LI>
  		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Master</LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paspor</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visa</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Relasi</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kewarganegaraan</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jenis Perwakilan</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sub Jenis Perwakilan</A></LI>
  		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kantor Perwakilan</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jenis Fasilitas</A></LI>
		  <LI style=" padding: 5px 2px 5px 0.5em;">&nbsp;&nbsp; :: Admin</LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grup User</A></LI>
		  <LI><A href="/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User</A></LI>
		  <LI><A href="/">:: Ganti Password</A></LI>
		  <LI><A href="/">:: Logout</A></LI>
		  

		  </UL>
		</div>
		
	</td>
    <td width="599" >&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">		<div  align="center" id="footer">
				Copyright &copy; 2010 by KaeL</div>	</td>
  </tr>
</table>

</body>
</html>
